@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    /* overflow-x: hidden; */
    
}
body{
    background: linear-gradient(#3F0071,#150050);
    min-height: 100vh;
    overflow-x: hidden;
    
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo{
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 2rem;
    cursor:none ;
}
header ul{
display: flex;
justify-content: center;
align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header li a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 3px 15px;
    border-radius: 18px;
}
header li a:hover{
    background-color: #FFFFFF;
    
    color: #150050;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
section::before{
    width: 100%;
    height: 100px;
    background:linear-gradient(to top,#150050,transparent);
    content: '';
    position: absolute;
    bottom: 0;
    z-index: 1000;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section img#moon{
    mix-blend-mode: screen;
}
section img#mountain_front{
    z-index: 10;
}
 #text{
    position: absolute;
    color: #FFFFFF;
    z-index: 9;
    font-size: 5.5vw;
    white-space: nowrap;

}
#btn{
    width: 20%;
    height: 35%;
    /* background: transparent; */
    border-radius: 11rem;
    display: inline-block;
    padding: 8px 30px;
    z-index: 10;
    /* mix-blend-mode: darken; */
    position: relative;
    /* top: 178px; */
    transform: translateY(165px);
}
.sec{
    position: relative;
    padding: 100px;
    background:#150050 ;
}
.sec h2{
    font-size: 3.5rem;
    margin-bottom: 10px;
    color: #FFFFFF;

}
.sec p{
    font-size: 1.2em;
    color: #FFFFFF;
    text-align: justify;
    /* padding: 10px; */
}
@media all and (min-resolution: 144dpi){
    #btn{
        transform: translateY(120px);
    }
}
